@model List<EntityLayer.Concrete.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Detay 1</th>
            <th>Detay 2</th>
            <th>Resim 1</th>
            <th>Resim 2</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AboutID</td>
                <td>@item.AboutDetails1</td>
                <td>@item.AboutDetails2</td>
                <td>@item.AboutImage1</td>
                <td>@item.AboutImage2</td>
                <td><a href="/About/DeleteAbout/@item.AboutID" class="btn btn-outline-danger">Pasif Yap</a></td>
                <td><a href="/About/UpdateAbout/@item.AboutID" class="btn btn-outline-warning">Aktif Yap</a></td>
            </tr>
        }


    </tbody>
    
</table>
<br />
<button class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal1">Ekle</button>
@Html.Action("PartialAddAbout","About")


